.git
data
results
historical_data
toolchains
work
bin
build
.venv
**/target
**/target-native
**/bazel-*
**/__pycache__

src/third_party/esa2026-workloads/benchmark/snn_datasets/csv_output/

deprecated
